<h2>Blog</h2>
<div id="blog-container">
<div id="blog-title"><a href="<%= @blog.root.link %>"><%= @blog.root.title %></a></div>
<div id="blog-items">
<% @blog.entries.each do |entry| %>
<div class="blog-item">
  <div class="blog-title"><a href="<%= entry.link %>"><%= entry.title %></a></div>
  <div class="blog-date"><%= entry.date %></div>
  <div class="blog-description"><%= entry.summary %></div>
</div>
<% end %>
</div>
</div>
