<h2>Blog</h2>
<div id="blog-container">
<div id="blog-title"><a href="<%= @blog.channel.link %>"><%= @blog.channel.title %></a></div>
<div id="blog-items">
<% @blog.items.each do |item| %>
<div class="blog-item">
  <div class="blog-title"><a href="<%= item.link %>"><%= item.title %></a></div>
  <div class="blog-date"><%= item.date %></div>
  <div class="blog-description"><%= item.description %></div>
</div>
<% end %>
</div>
</div>
