<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Yoppi.true :my => "heart"</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag :application %>
  <%= csrf_meta_tag %>
</head>
<body>
<%= render "layouts/header" %>
<div id="content">
<%= yield %>
</div>
<%= render "layouts/footer" %>
<%= javascript_include_tag :application %>
</body>
</html>
